html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../../ui/Typography/fonts/transfonter.org-20241219-182800/Montserrat-Regular.woff);
}

button {
  cursor: pointer;
}
