.visaPage {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  h1 {
    color: var(--mediumOrange);
    font-weight: 500;
    position: relative;
    bottom: -115px;
  }
}

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
}
