.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;

  .label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}