.costProcSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  position: relative;

  .yellowCircle {
    position: absolute;
    z-index: -1;
    bottom: -250px;
    left: 50%;
    width: 70vw;
    height: 70vh;
    max-width: 700px;
    max-height: 600px;
    background-color: #ff660052;
    border-radius: 50%;
    opacity: 0.5;
    filter: blur(200px);
    transform: translateX(-50%);
  }

  .cloud,
  .secondCloud {
    position: absolute;
    z-index: -1;
  }
  .cloud {
    top: 50%;
    left: -50px;
  }
  .secondCloud {
    top: 20px;
    right: -50px;
  }
  .content {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin: 0;
      list-style-type: disc;
    }
  }
}
