.slider {
  background: #000;
  margin-bottom: 50px;
  height: 100vh;
}

.banner {
  position: relative;
  color: var(--onlyWhite);
  font-family: sans-serif;
  & img {
    height: 100vh;
    width: 209vh;
  }
  .frame {
    position: absolute;
    left: -45px;
    bottom: 114px;
    width: 100%;
    max-width: 570px;
    margin: auto;
    .title {
      font-size: 56px;
      font-weight: 600;
      margin-bottom: 16px;
    }
    .description {
      text-align: justify;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 19px;
    }
  }
}
