.card {
  display: flex;
  flex-direction: column;
  min-height: 381px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  position: relative;

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 0 10px;
  }

  .tagNew {
    width: 55px;
    height: 22px;
    background: #200CB4;
    border-radius: 16px;

    p {
      font-size: 12px;
    }
  }

  .tagDiscount {
    width: 53px;
    height: 18px;
    background: #fff;
    border-radius: 8px;
  }

  .tagFire {
    position: absolute;
    right: 0;
    min-width: 190px;
    height: 44px;
    background: #FF0000;
    border-radius: 11px;
    gap: 7px;
  }

  .tagThumb {
    position: absolute;
    right: 0;
    min-width: 232px;
    height: 38px;
    background: #AF4DFD;
    border-radius: 9px;
    gap: 7px;
  }

  .tagSale {
    position: absolute;
    right: 0;
    margin: -20px;
  }

  &Content {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 10px 10px 5px 5px;
    color: #fff;
    padding: 9px 25px 17px;
    display: flex;
    flex-direction: column;
    gap: 6px;

    .title {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .date {
      max-width: 150px;
    }

    .price {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .btn {
      height: 35px;
      gap: 0;
      border-radius: 6px;
      padding: 7px 20px;
    }

    .btnLink {
      margin-left: auto;
    }
  }
}