.card {
  display: flex;
  flex-direction: column;
  min-height: 381px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  position: relative;

  &Content {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 10px 10px 5px 5px;
    background: linear-gradient(126deg, rgba(216, 133, 48, 0.86) 3%, rgba(189, 99, 46, 0.86) 16%, rgba(0, 0, 0, 0.86) 100%);
    color: #fff;
    padding: 9px 25px 17px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .date {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    .price {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}