.card {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  height: 381px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  position: relative;

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 0 10px;
  }

  .tagNew {
    width: 55px;
    height: 22px;
    background: #200CB4;
    border-radius: 16px;
  }

  .price {
    width: fit-content;
    height: 21px;
    padding: 3.5px 12px;
    background: #fff;
    border-radius: 8px;
  }

  .tagNew, .price {
    p {
      font-size: 12px;
    }
  }

  .tagFire {
    position: absolute;
    right: 0;
    min-width: 197px;
    height: 44px;
    padding: 8px 5px;
    background: #2CE348;
    border-radius: 11px;
    gap: 7px;
  }

  .tagThumb {
    position: absolute;
    right: 0;
    min-width: 232px;
    height: 38px;
    padding: 8px 21px;
    background: #01DCD6;
    border-radius: 9px;
    gap: 15px;
  }

  .tagSale {
    position: absolute;
    right: 10px;
  }

  &Content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 121px;
    border-radius: 10px 10px 5px 5px;
    color: #fff;
    padding: 5px 10px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;

    .title {
      height: 54px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .btn {
      width: 100%;
      height: 35px;
      gap: 0;
      border-radius: 6px;
      padding: 7px 20px;
    }

    .btnLink {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 12px 10px;
    }
  }
}