.breadcrumbsContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 30px;
  margin-top: 20px;

  .breadcrumb,
  .breadcrumbActive {
    display: flex;
    align-items: center;

    svg {
      margin-left: 4px;
    }
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 7px;
}
