.container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .tabBar {
    display: flex;
    gap: 40px;
    width: 100%;
    height: 31px;

    .tabButton {
      background: transparent;
      cursor: pointer;
      padding-bottom: 7px;
    }
    
    .active {
      border-bottom: 3px solid #FF6600;
    }
  }
}
