.navbar {
  position: fixed;
  z-index: 9999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 103px;
  transition: 0.2s;
  background: linear-gradient(to bottom, #000, #ffffff00);
  .centerSection {
    display: flex;
    flex-direction: column;
    gap: 34px;
  }
  .contactsSection {
    display: flex;
    flex-direction: column;
    gap: 12px;
    & a {
      color: #fff;
      white-space: nowrap;
      transition: 0.1s;
      &:hover {
        color: var(--mediumOrange) !important;
      }
    }
    .phoneBlock {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 8px;
      & img {
        width: 24px;
        height: 24px;
      }
    }
  }
  .navigationList {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-weight: 600;
    font-size: 20px;
    & a {
      color: #fff;
      white-space: nowrap;
      transition: 0.1s;
      &:hover {
        color: var(--mediumOrange) !important;
      }
    }
  }
  .formBtn {
    width: 100%;
    max-width: 208px;
    padding: 10px 20px;
    color: var(--onlyWhite);
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    background: var(--mediumOrange);
  }
}

.logo {
  width: 104px;
  height: 68px;
  margin: auto;
}

.icon {
  color: #fff;
}
