.headpart {
  display: flex;
  flex-direction: column;
  width: 100%;

  .moreLink {
    display: flex;
    gap: 5px;
    margin-top: -12.5px;
    justify-self: right;
    justify-content: flex-end;
  }
}

.cards {
  margin-bottom: 50px;
}