@import "@/app/styles/mixins.scss";

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 100px 0 100px;

  @include Tablet {
    max-width: 768px;
    padding: 0 20px 0 20px;
  }

  @include Mobile {
    max-width: 375px;
    padding: 0 12px 0 12px;
  }
}