.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.yellowCircle {
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background: radial-gradient(circle, #face49ad, #fff, #fff);
  filter: blur(100px);
  position: absolute;
  top: 50%;
  left: -28%;
}

.orangeCircle {
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background: radial-gradient(circle, #ff56229c, #fff, #fff);
  filter: blur(100px);
  position: absolute;
  top: 95%;
  right: -26%;
}
