.main {
  display: flex;
  flex-direction: column;
  gap: 50px;

  hr {
    filter: blur(2px);
    background-color: #F3F5F666;
  }
}

.yellowCircle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: rgba(250, 205, 73, 1);
  position: absolute;
  top: 70%;
  left: -15%;
  opacity: 0.5;
  filter: blur(200px);
}

.orangeCircle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: rgba(255, 87, 34, 1);
  position: absolute;
  top: 125%;
  left: 90%;
  opacity: 0.5;
  filter: blur(200px);
}