.customSlider {
  :global(.swiper-slide-active) {
    max-width: 447px !important;
    width: 100% !important;

    .reviewFrame {
      height: 270px;
      padding: 16px 13px 21px 26px;

      .imgBlock {
        max-width: 172px !important;
        height: 228px !important;
      }
    }
  }

  :global(.swiper-slide-prev) {
    max-width: 388px;

    .reviewFrame {
      position: relative;
      z-index: 1;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f3f5f666;
        z-index: 1;
      }
    }
  }

  :global(.swiper-slide-next) {
    max-width: 388px;

    .reviewFrame {
      position: relative;
      z-index: 1;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f3f5f666;
        z-index: 1;
      }
    }
  }
}

// card

.reviewFrame {
  box-shadow: 2px 4px 18px #00000040;
  padding: 21px 13px 21px 26px;
  border-radius: 15px;
  background: var(--grayCard);
  display: flex !important;
  align-items: center;
  gap: 9px;
  height: 220px;
  margin: 60px 0px;

  .info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: left;
    width: 100%;
    max-width: 227px;

    .title {
      font-weight: 500;
      font-size: 24px;
      color: var(--mediumOrange);
    }

    .description {
      line-height: 20px;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .imgBlock {
    max-width: 135px;
    height: 178px;
    width: 100%;
    border-radius: 5px 0px 0px 5px;
    position: relative;
    overflow: hidden;

    & img {
      width: 172px;
      height: 228px;
      object-fit: cover;
    }
  }

  .playBtn {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;

    & svg {
      display: none;

      &:active {
        transition: 0.1s;
        margin-right: -20px;
      }
    }

    &:hover {
      background: #000000b2;
    }

    &:hover svg {
      display: block;
    }
  }
}