.customSlider {
  .additional {
    margin-top: 60px;
  }
  :global(.swiper-slide-active) {
    .additional {
      margin-top: 30px;
      max-width: 447px;
      width: 100%;
      height: 270px;
      .imgBlock {
        max-width: 172px !important;
        height: 228px !important;
      }
    }
  }
  :global(.swiper-slide-prev) {
    .additional {
      position: relative;
      z-index: 1;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f3f5f666;
        z-index: 1;
      }
    }
  }
  :global(.swiper-slide-next) {
    .additional {
      position: relative;
      z-index: 1;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f3f5f666;
        z-index: 1;
      }
    }
  }
}
