.main {
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    gap: 22px;
    align-items: center;

    .img {
      display: flex;
      max-width: 610px;
      width: 100%;
      overflow: hidden;

      img {
        max-width: 610px;
        width: 100%;
        aspect-ratio: 610/487;
        object-fit: cover;
        border-radius: 15px;
      }
    }
  }
}