.dropdownBtn {
  width: 100%;
  max-width: 286px;
  min-height: 45px;
  padding: 10px 16px;
  border-radius: 8px;
  color: var(--onlyBlack);
  border: 1px solid var(--onlyBlack);
  box-shadow: 0 2px 4px #00000081;
  cursor: pointer;
}
