.container {
  display: flex;
  flex-direction: column;
  gap: 50px;

  .button {
    display: flex;
    width: 100%;
    align-self: center;

  }
}

.sliderBlock {
  margin-top: 50px;

  .slider {
    .img {
      overflow: hidden;

      img {
        display: flex;
        max-width: 400px;
        width: 100%;
        aspect-ratio: 400/470;
        max-height: 470px;
        border-radius: 15px;
        object-fit: cover;
      }
    }
  }
}