.divisionOfTwoPages {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.introSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .cloud {
    position: absolute;
    top: 57px;
    left: -50px;
  }
  .path {
    position: absolute;
    z-index: -1;
    left: -30px;
    bottom: 360px;
  }
  .airplane {
    position: absolute;
    z-index: -1;
    left: 90px;
    bottom: 565px;
    transform: rotate(-30deg);
  }
  .RightAirplane {
    position: absolute;
    z-index: -1;
    transform: rotate(130deg);
    bottom: 46%;
    right: -25px;
  }
  .RightPath {
    position: absolute;
    z-index: -1;
    right: -60px;
    bottom: 50%;
  }
  .linkerZone {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    .airplanes {
      top: -100px;
      position: absolute;
      z-index: -1;
    }
    .description {
      text-align: center;
    }
    .linker {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .button {
      padding: 9px;
    }
    .delivery {
      background-color: #186ade;
      &:hover {
        background: #3078dd;
      }

      &:active {
        background: #3078dd;
      }

      &:disabled {
        background: #6f97cf;
      }
    }
    .individualTours {
      height: 40px;
    }
    .airIcon {
      width: 25px;
      height: 25px;
    }
  }
  .slider {
    margin: 30px 0px 20px 0px;

    .image {
      max-width: 192px;
      height: 234px;
      & img {
        width: 100%;
        border-radius: 5px;
        object-fit: cover;
        height: 234px;
      }
    }
  }
}
