@font-face {
  font-family: 'Montserrat';
  src: url('../../ui/Typography/fonts/transfonter.org-20241219-182800/Montserrat-Regular.woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 9999;
  font-family: 'Montserrat';
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 103px;
  background: #fff;
  .centerSection {
    display: flex;
    flex-direction: column;
    gap: 34px;
  }
  .contactsSection {
    display: flex;
    flex-direction: column;
    gap: 12px;
    & a {
      color: var(--onlyBlack);
      white-space: nowrap;
    }
    .phoneBlock {
      font-family: 'Montserrat';
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 8px;
      & img {
        width: 24px;
        height: 24px;
      }
    }
  }
  .navigationList {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-weight: 600;
    font-size: 20px;
    & a {
      color: var(--onlyBlack);
      white-space: nowrap;
    }
  }
  .formBtn {
    font-family: 'Montserrat';
    width: 100%;
    max-width: 208px;
    padding: 10px 20px;
    color: var(--onlyWhite);
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    background: var(--mediumOrange);
  }
}
.logo {
  width: 104px;
  height: 68px;
  margin: auto;
}
