.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;

  .checkbox {
    display: flex;
    gap: 4px;

    input[type="checkbox"] {
      accent-color: #FF6600;
      color: white;
      cursor: pointer;
    }
  }
}